{{ partial "header/head.html" . }}

  <div id="main">
    {{ partial "nav.html" . }}
    <h1>{{ .Title }}</h1>
    <p class="post-info">{{ .WordCount }} words | ~ {{ .ReadingTime }} min read | last modified {{ .Lastmod.Format "Jan 2, 2006" }} | 
    {{ with .Params.tags }}
      <i data-feather="tag"></i>
      {{ range . }}
      {{ $href := print (absURL "tags/") (urlize .) }}
      <a class="btn tag-btn btn-sm" href="{{ $href }}">{{ . }}</a>
      {{ end }}
    {{ end }}
    </p>
    {{ .Content }}
  </div>

{{ partial "sidemenu.html" . }}
{{ partial "footer/foot.html" . }}
