<div id="sidebar">
  <!--
  {{ if $.Site.Params.portrait }}
  <a href="{{ $.Site.Params.portrait | absURL }}" class="image-link">
    <img src="{{ $.Site.Params.portrait | absURL }}"/>
  </a>
  {{ end }}
  -->

  <h1><a href="/" style="text-decoration:none;">{{ .Site.Params.title }}</a></h1>

  <h2>Pages</h2>
  <ul>
    {{ range .Site.Menus.main }}
      <li><a href="{{.URL}}" style="text-decoration:none;">{{ .Name }}</a></li>
    {{end}}
  </ul>

  <h2>Recent Posts</h2>
  <ul>
    {{ range first 10 .Site.RegularPages }}
      {{ if eq .Type "posts" }}
        <li><a href="{{ .Permalink }}" style="text-decoration:none;">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  </ul>

  <h2>Contact</h2>
  <ul>
    {{ range .Site.Params.social }}
      <li><a href="{{ .url }}">{{ .title }}</a></li>
    {{ end }}
  </ul>
</div>
